/* Default css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
input {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align-last: left;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.wraper {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.mid-width {
    width: 75%;
}

/* Default css end */

/* Header section start */
.header-section {
    background-color: #ec116c;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.main-header {
    display: flex;
    align-items: center;
}

.header-left {
    width: 30%;
}

.header-right {
    width: 70%;
}

.header-logo {
    padding: 10px 0;
}

.header-logo img {
    max-width: 80px;
}

.header-menu {}

.header-menu ul {
    display: flex;
    margin-bottom: 0;
    height: 100%;
    justify-content: flex-end;
}
.header-menu input[type="checkbox"]{
    display: none;
}

.header-menu ul li {}

.header-menu ul li a {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 5px 18px;
    transition: .5s;
}

.header-menu ul li .active {
    color: #fcc747;
}

.header-menu ul li:hover>a {
    color: #fcc747;
}

/* Header section end */
/* dropdown Menu */
.header-menu ul li {
    position: relative;
}

.header-menu ul li ul {
    position: absolute;
    top: 131%;
    left: 0;
    width: 200px;
    height: auto;
    background: #d40f61;
    padding-left: 0;

    opacity: 0;
    visibility: hidden;
    transition: .5s;
    padding: 10px 0;
    display: block;
}

.header-menu ul li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.header-menu ul li ul li {
    display: block;
}

.header-menu ul li ul li a i {
    margin-left: 10px;
}

.header-menu ul li ul li a {
    display: block;
    line-height: 25px;
}

/* Sub Menu Section */
.header-menu ul li ul li ul {
    left: 100%;
    top: -1px;
    flex-direction: column;
}

.header-menu ul li ul li ul li {}

.header-menu ul li ul li ul li a {
    line-height: 22px;
}

/* Hero Section start */
.hero-section {
    background: url(./img/ia_100000040.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.hero-section .hero-caption {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section .hero-caption .hero-caption-item {

    text-align: center;
}

.hero-section .hero-caption .hero-caption-item img {
    max-width: 200px;
    margin-bottom: 12px;
}

.hero-section .hero-caption .hero-caption-item h1 {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-section .hero-caption .hero-caption-item h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin-bottom: 16px;
}

.hero-section .hero-caption .hero-caption-item h5::before {
    content: "";
    position: absolute;
    left: 50px;
    top: 50%;
    width: 45px;
    height: 1px;
    background-color: #ddd;
}

.hero-section .hero-caption .hero-caption-item h5::after {
    content: "";
    position: absolute;
    right: 60px;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #ddd;
}

.hero-section .hero-caption a.header-btn {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-weight: 700;
    transition: .6s;
}

.hero-section .hero-caption a.header-btn:hover {

    color: #ec116c;
    background-color: #fff;
    border: 1px solid transparent;
}

/* Hero Section end */
/* About Section start */
.about-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.about {
    display: flex;
    box-shadow: 0px 15px 114px -26px rgba(85, 98, 164, 0.29);
}

.about-left {
    width: 40%;
}

.about-right {
    width: 60%;
}

.about-left img {}

.about-right .about-content {
    margin-left: 30px;
    margin-top: 50px;
}

.about-right .about-content .about-content-text {
    margin-left: 30px;
}

.about-right .about-content .about-content-text .about-greeting {}

.about-right .about-content .about-content-text .about-greeting h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 7px 10px;
    margin-bottom: 25px;
    position: relative;
    z-index: 99;
}

.about-right .about-content .about-content-text .about-greeting h4::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #fcc747;
    z-index: -1;
}

.about-right .about-content .about-content-text h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 25px;
}

.about-right .about-content .about-content-text p {
    font-weight: 400;
    color: #606060;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-right .about-content .about-content-address {
    display: flex;
    margin-bottom: 20px;
}

.about-right .about-content .about-content-address-left {
    width: 30%;
}

.about-right .about-content .about-content-address-right {
    width: 70%;
}

.about-right .about-content .about-content-address-left ul {
    margin-bottom: 0;
    padding-left: 30px;
}

.about-right .about-content .about-content-address-left ul li {
    margin-bottom: 15px;
    color: #606060;
}

.about-right .about-content .about-content-address-right ul {
    margin-bottom: 0;
}

.about-right .about-content .about-content-address-right ul li {
    margin-bottom: 15px;
    color: #606060;
}
.about-right .about-content .button{
}
.about-right .about-content .button .about-btn {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 700;
    background-color: #3243e3;
    color: #fff;
    display: inline-block;
    padding: 12px 30px;
    /*! margin-top: 25px; */
    box-shadow: 0px 10px 15px 0px rgba(30, 25, 184, 0.15);
    transition: .5s;
}

.about-right .about-content .button .about-btn:hover {
    background-color: #4980ea;
}

/* About Section end */
/* Portfolio Section start */
.portfolio-section {}

.portfolio-section .portfolio {
    padding-top: 60px;
}

.portfolio-section .portfolio .portfolio-title {}

.portfolio-section .portfolio .portfolio-title h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 5px 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.portfolio-section .portfolio .portfolio-title h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 50px;
}

.portfolio-section .portfolio .portfolio-name {}

.portfolio-section .portfolio .portfolio-name ul {
    display: flex;
    padding-left: 0;
}

.portfolio-section .portfolio .portfolio-name ul li {
    padding: 0 12px;
    font-size: 13px;
    font-weight: 500;
    color: #606060;
    margin-bottom: 10px;
    transition: .5s;
}

.portfolio-section .portfolio .portfolio-name ul li:hover {
    color: #3243e3;
    cursor: pointer;
}

.portfolio-section .portfolio .portfolio-name ul li.active {
    color: #3243e3;
}

.portfolio-section .portfolio .portfolio-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items {
    width: 32%;
    position: relative;
    margin-bottom: 20px;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);

    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items:hover::after {
    opacity: 1;
    visibility: visible;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items img {}

.portfolio-section .portfolio .portfolio-box .portfolio-items .portfolio-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items:hover .portfolio-item {
    opacity: 1;
    visibility: visible;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items .portfolio-item span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fcc747;
    line-height: 40px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items .portfolio-item h5 {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    margin-bottom: 6px;
}

.portfolio-section .portfolio .portfolio-box .portfolio-items .portfolio-item h6 {
    font-weight: 400;
    color: #fff;
}

/* portfolio section */

/* Skill Section Start */
.skill-section {
    padding: 80px 0;
}

.skill-section .skill {}

.skill-section .skill .skill-title {}

.skill-section .skill .skill-title h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.skill-section .skill .skill-title h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 60px;
}

.skill-section .skill .skill-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-section .skill .skill-items .skill-item {
    width: 32%;
    margin-bottom: 2%;
    display: flex;
    box-shadow: 0px 15px 114px -26px rgba(85, 98, 164, 0.29);
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
}

.skill-section .skill .skill-items .skill-item img {
    margin-right: 20px;
    width: 50px;
    height: 45px;
}

.skill-section .skill .skill-items .skill-item .skill-item-content {}

.skill-section .skill .skill-items .skill-item .skill-item-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.skill-section .skill .skill-items .skill-item .skill-item-content p {
    color: #606060;
    margin-bottom: 0;
}

.skill-section .skill .skill-items .skill-item:nth-child(1):hover {
    background-color: #e0f9f3;
}

.skill-section .skill .skill-items .skill-item:nth-child(2):hover {
    background-color: #f1f2fd;
}

.skill-section .skill .skill-items .skill-item:nth-child(3):hover {
    background-color: #feeef5;
}

.skill-section .skill .skill-items .skill-item:nth-child(4):hover {
    background-color: #fef6e4;
}

.skill-section .skill .skill-items .skill-item:nth-child(5):hover {
    background-color: #feeef5;
}

.skill-section .skill .skill-items .skill-item:nth-child(6):hover {
    background-color: #e0f9f3;
}

/* Skill Section End */

/* Counter Section start */
.counter-section {
    background: url(./img/ia_100000041.jpg) no-repeat center center;
    padding: 80px;
    background-attachment: fixed;
}

.counter-section .counter {
    display: flex;
    justify-content: space-evenly;
}

.counter-section .counter .counter-items {
    text-align: center;
}

.counter-section .counter .counter-items h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.counter-section .counter .counter-items p {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

/* Counter Section end */

/* Education Section Start */
.education-section {
    padding-top: 100px;
}

.education-section .education {}

.education-section .education .education-title {}

.education-section .education .education-title h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 5px 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.education-section .education .education-title h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 60px;
}

.education-section .education .education-details {
    display: flex;
}

.education-section .education .education-details .education-details-left {
    width: 60%;
}

.education-section .education .education-details .education-details-right {
    width: 40%;
}

.education-section .education .education-details .education-details-right img {
    margin-left: 30px;
}

.education-section .education .education-details .education-details-left .about-degree {
    display: flex;
    box-shadow: 0px 6px 32px rgba(85, 98, 164, 0.29);
    padding: 30px 30px;
    margin-bottom: 30px;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-left {
    width: 40%;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-right {
    width: 60%;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-left h6 {
    display: inline-block;
    background-color: #ec116c;
    padding: 5px 5px;
    color: #fff;
    margin-bottom: 15px;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-left h4 {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 15px;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-left p {
    color: #606060;
    font-size: 14px;
}

.education-section .education .education-details .education-details-left .about-degree .about-degree-right p {
    color: #606060;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 0;
}

/* Education Section End */

/* Employe Section Start */
.employe-section {
    background-color: #f0f4fd;
    padding: 100px 0;
}

.employe-section .employe {}

.employe-section .employe .employe-title {}

.employe-section .employe .employe-title h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 5px 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.employe-section .employe .employe-title h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    line-height: 1.3;
}

.employe-section .employe .employe-content {
    display: flex;
    justify-content: space-between;
}

.employe-section .employe .employe-content .employe-content-items {
    width: 32%;
    box-shadow: 0px 15px 114px -26px rgba(85, 98, 164, 0.29);
    padding: 30px 30px;
    background-color: #fff;
}

.employe-section .employe .employe-content .employe-content-items img {}

.employe-section .employe .employe-content .employe-content-items h6 {
    display: inline-block;
    background-color: #ec116c;
    padding: 2px 8px;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
}

.employe-section .employe .employe-content .employe-content-items h4 {
    display: inline-block;
    font-weight: 700;
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 25px;
}

.employe-section .employe .employe-content .employe-content-items p {
    color: #606060;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
}

/* Employe Section End */

/* Trophy Section Start */
.trophy-section {
    padding: 100px 0;
}

.trophy-section .trophy {}

.trophy-section .trophy .main-trophy {
    margin-bottom: 15px;
}

.trophy-section .trophy .tropy-items {}

.trophy-section .trophy .tropy-items ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trophy-section .trophy .tropy-items ul li {
    padding: 5px 20px;
}

.trophy-section .trophy .tropy-items ul li a img {
    filter: saturate(0);
    opacity: .6;
    transition: .5s;
}

.trophy-section .trophy .tropy-items ul li a img:hover {
    filter: saturate(100%);
    opacity: 1;
}

/* Trophy Section End */

/* Contact Section Start */
.contact-section {
    padding: 60px 0;
}

.contact-section .contact {}

.contact-section .contact .contact-title {}

.contact-section .contact .contact-title h4 {
    display: inline-block;
    background-color: #fcc747;
    padding: 8px 15px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-section .contact .contact-title h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}

.contact-section .contact .contact-box {
    box-shadow: 0px 15px 114px -26px rgba(85, 98, 164, 0.29);
    padding: 60px 85px;
}

.contact-section .contact .contact-box .contact-box-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item {
    text-align: center;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item .first-span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #60dbc1;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #60dbc1;
    margin-bottom: 30px;
    transition: .5s;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item:hover .first-span {
    background-color: #60dbc1;
    color: #fff;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item .second-span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #3243e3;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #3243e3;
    margin-bottom: 30px;
    transition: .5s;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item:hover .second-span {
    background-color: #3243e3;
    color: #fff;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item .thired-span {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #ec116c;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #ec116c;
    margin-bottom: 30px;
    transition: .5s;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item:hover .thired-span {
    background-color: #ec116c;
    color: #fff;
}

.contact-section .contact .contact-box .contact-box-top .contact-box-top-item a {
    display: block;
    font-size: 20px;
    color: #606060;
    font-weight: 600;
    line-height: 1.5;
}

.contact-section .contact .contact-box .contact-box-bottom {
    margin-bottom: 10px;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form {
    display: flex;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-left {
    width: 48%;
    margin-right: 2%;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-left form input {
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-left form input:focus {
    border: 1px solid #fcc747;
    outline: none;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-right {
    width: 48%;
    margin-left: 1%;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-right textarea {
    display: block;
    width: 100%;
    height: 182px;
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 0 10px;
    resize: none;
}

.contact-section .contact .contact-box .contact-box-bottom .contact-form-right textarea:focus {
    border: 1px solid #fcc747;
    outline: none;
}

.contact-section .contact .contact-box .submit-btn input {
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #3243e3;
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    box-shadow: 0px 10px 15px 0px rgba(30, 25, 184, 0.15);
    transition: .5s;

}

.contact-section .contact .contact-box .submit-btn input:hover {
    background-color: #4980ea;
}

/* Contact Section End */

/* Footer Section Start */
.footer-section {
    padding-bottom: 100px;
}

.footer-section .footer {}

.footer-section .footer .footer-top {
    margin-bottom: 35px;
}

.footer-section .footer .footer-top ul {
    display: flex;
    justify-content: center;
}

.footer-section .footer .footer-top ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.footer-section .footer .footer-top ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
    color: #757385;
}

.footer-section .footer .footer-top ul li a:hover {
    color: #fff;
    background-color: #ec116c;
    border: 1px solid transparent;
}

.footer-section .footer .footer-top ul li:hover {}

.footer-section .footer .footer-bottom {}

.footer-section .footer .footer-bottom p {
    color: #606060;
}

.footer-section .footer .footer-bottom p span {
    color: #fcc747;
}


/* The End */